.timeline-card-container {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px;
  width: fit-content;

  background: var(--clr-primary-semi);
  border-radius: 4px;

  padding: 1em 1.5em;

  box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 6px 17px 0px rgba(0, 0, 0, 0.25);

  transition: transform 150ms;
  /* color: var(--clr-neutral) */
}

.timeline-card-header {
  font-size: 1.4em;
}

.timeline-card-subtitle {
  line-height: 1.8em;
  font-size: 1em;
  font-style: italic;
  opacity: 0.8;
}

.timeline-card-close-button {
  background-color: transparent;
  border: none;
  margin: none;
  float: right;

  cursor: pointer;
  pointer-events: all;
  transition: opacity 75ms;
}

.timeline-card-close-button:is(:hover, :focus) {
  opacity: 0.75;
}
